<h1>LOGIN</h1>
<form [formGroup]="signin" (ngSubmit)="onSubmit()" novalidate>
    <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput type="password" placeholder="********" formControlName="password" required>
          <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
      <button type="submit">LOGIN</button>
</form>