<!-- <p>listing works!</p> -->
<mat-progress-bar *ngIf="isLoaded==true" mode="indeterminate"></mat-progress-bar>
<div class="container mx-auto my-2 d-flex justify-content-center align-items-baseline">
<mat-form-field appearance="fill" class="w-50">
  <mat-label>Search here</mat-label>
  <input matInput #searchinput>
</mat-form-field>
<button mat-raised-button color="primary" (click)="applyfilter(searchinput)">Search</button>
</div>
<table mat-table [dataSource]="users" class="mat-elevation-z8 w-75 mx-auto my-0">
 <!-- Position Column -->
 <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Website Column -->
  <ng-container matColumnDef="website">
    <th mat-header-cell *matHeaderCellDef> Website </th>
    <td mat-cell *matCellDef="let element"> {{element.website}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="onRowClicked(row)"></tr>

</table>
<mat-paginator 
[pageSizeOptions]="[5, 10, 20]" 
showFirstLastButtons="true"  
[length]="totalCount"
[pageSize]="pageSize"
[pageIndex]="currentPage"
(page)="pageEvent = handlePage($event)"
></mat-paginator>

